alembic==1.16.5
blinker==1.9.0
click==8.1.8
dnspython==2.7.0
email-validator==2.3.0
Flask==3.1.3
Flask-DebugToolbar==0.16.0
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
idna==3.11
importlib_metadata==8.7.1
itsdangerous==2.2.0
Jinja2==3.1.6
librt==0.8.0
Mako==1.3.10
MarkupSafe==3.0.3
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.4.0
pycodestyle==2.14.0
pyflakes==3.4.0
python-dotenv==1.2.1
pytokens==0.4.1
SQLAlchemy==2.0.48
tomli==2.4.0
typing_extensions==4.15.0
Werkzeug==3.1.6
WTForms==3.2.1
zipp==3.23.0
