{% extends "auth/base.html" %}
{% block title %}ログイン{% endblock %}
{% block content %}
<h2>ログイン</h2>

<form
    action="{{ url_for('auth.login') }}"
    method="POST"
    novalidate="novalidate"
>
    {% for message in get_flashed_messages() %}
    <p style="color: red;">{{ message }}</p>
    {% endfor %}

    {{ form.csrf_token }}

    <p>
        {{ form.email.label }}
        {{ form.email(size=30, placeholder="メールアドレス") }}
    </p>

    {% for error in form.email.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}

    <p>
        {{ form.password.label }}
        {{ form.password(size=30, placeholder="パスワード") }}
    </p>

    {% for error in form.password.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}

    <p>
        <input type="submit" value="登録">
    </p>
</form>
{% endblock %}
